name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - run: pnpm dlx nx start-ci-run --distribute-on="3 linux-medium-js" --stop-agents-after="build"

      - uses: actions/setup-node@v6
        with:
          cache: pnpm

      - run: pnpm install

      - uses: nrwl/nx-set-shas@v4

      - run: pnpm exec nx affected -t lint test build

      - run: pnpm exec nx fix-ci
        if: always()
